node_modules
dist
coverage
.DS_Store
.git
.gitignore
.vscode
.eslintrc*
eslint.config.*
src/__tests__
*.test.ts
*.test.js
*.spec.ts
*.spec.js
.github
README.md
npm-debug.log
package-lock.json
infrastructure
