registry=https://registry.npmjs.org/
@store-sfdcbt-net:registry=https://store.sfdcbt.net/nexus/content/repositories/npm-Biz-Tech/
//store.sfdcbt.net/nexus/content/repositories/npm-Biz-Tech/:email=svc_cd_nexus@salesforce.com
//store.sfdcbt.net/nexus/content/repositories/npm-Biz-Tech/:always-auth=true
//store.sfdcbt.net/nexus/content/repositories/npm-Biz-Tech/:_auth=${NPM_TOKEN}
